/*.ncb
/*.opensdf
/*.sdf
/*.suo
/*.user
/.vs
WeakAurasTimerBarCreator/*.aps
WeakAurasTimerBarCreator/*.eto
WeakAurasTimerBarCreator/*.user
WeakAurasTimerBarCreator/ClientBin
WeakAurasTimerBarCreator/GeneratedArtifacts
WeakAurasTimerBarCreator/[Bb]in
WeakAurasTimerBarCreator/[Dd]ebug
WeakAurasTimerBarCreator/[Rr]elease
WeakAurasTimerBarCreator/_Pvt_Extensions
WeakAurasTimerBarCreator/obj
/_ReSharper.*
/ipch
